*{
  box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
  font-family: 'Roboto' Sans-Serif;
  
}
h2 {position: absolute; margin: auto}
html,.body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container{
   width: 100%;
   height: 100vh;
   
}
.slider-container{
   display: inline-flex;
   width:100%;
   height:100%;
    overflow: hidden;
}
.slider{
   width: 100%;
   height: 100vh;
   flex-shrink: 0;
  
}
.slider__img-box{
   position: relative;
   width: 100%;
   height:100%;
   
}
.slider__img-box img{
   position: absolute;
   width:100%;
   height:100%;
   object-fit: cover;
}